footer{
    padding: 2rem 3rem 3rem 3rem;
    background-color:  #f1f1f1;
    display: grid;
    justify-content: space-between;
      grid-template-areas:
          "family contact buy acount about"
          "business contact buy acount about"
          "pay pay pay pay pay"
          "info info info info info";
      row-gap: 2rem;
      column-gap: 2.5rem;
    .footer-list {
        list-style: none;
        padding-left: 0;
        li {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            font-size: 0.9rem;
            a {
                text-decoration: none;
                color: #111;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    .ikea-family{
        grid-area: family;
        font-size: 0.9rem;
        h4 {
            font-size: 1.1rem;
            margin-bottom: 0;
        }
        a {
            color: #111;
        }
        a:hover {
            font-weight: 600;
        }
    }
    .ikea-business {
        grid-area: business;
        font-size: 0.9rem;
        h4 {
            font-size: 1.1rem;
            margin-bottom: 0;
        }
        a {
            color: #111;
        }
        a:hover {
            font-weight: bold;
        }
    }
    .ikea-contact {
        grid-area: contact;
    }
    .ikea-buy {
        grid-area: buy;
    }
    .ikea-account {
        grid-area: acount;
    }
    .ikea-about-us {
        grid-area: about;
    }
    .logo-social {
        width: 25px;
        height: 25px;
    }
    .ikea-method-pay {
        grid-area: pay;
        padding-right: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        ul {
            padding-left: 0;
            list-style: none;
            li {
                display: inline;
                padding-left: 1rem;
                a {
                    text-decoration: none;
                }
                img {
                    height: 25px;
                }
            }
        }
    }
    .ikea-info {
        grid-area: info;
        font-size: 0.75rem;
        line-height: 2;
        section {
            display: flex;
            justify-content: space-between;
        }
        hr {
            border-top: 0;
            margin-bottom: 2rem;
            color: #dfdfdf;
        }
    }
    .footer-list-info {
        list-style: none;
        text-align: right;
        li{
            display: inline;
            padding-left: 1rem;
            a{
                text-decoration: none;
                display: inline;
                color: #111;
            }
            a:hover{
                text-decoration: underline;
            }  
        }
    }
    .btn-footer {
        width: 140px;
        cursor: pointer;
        background-color: #111;
        border-style: solid;
        font-size: 0.7rem;
        font-weight: bold;
        margin-top: 1rem;
        padding: 0.8rem;
        border-radius: 30px;
        a {
            text-decoration: none;
            color: #fff;
        }
        &:hover {
            background-color:  rgb(71, 71, 71);
        }
    }
    .btn-change-country {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 45px;
        background-color: transparent;
        border-style: solid;
        border-color: #dfdfdf;
        border-radius: 30px;
        padding: 0.8rem 1.3rem 0.8rem 1.3rem;
        margin-top: 0.5rem;
        img {
            width: 20px;
            height: 20px;
        }
        a {
            text-decoration: none;
            color: #111;
            font-size: 0.8rem;
            font-weight: bold;
        }
        &:hover {
            border-color: #111;
        }
    }
}
@media (max-width: 900px) {

    footer {

      padding: 2rem 2rem 2rem 2rem;
      grid-template-areas:
        "family"
        "business"
        "contact"
        "buy"
        "acount"
        "about"
        "pay"
        "info";
    }

    .footer-list {
      visibility: collapse;
    }
  }