header {
    width: 81vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 
    "logo search  search info menu"
    "product . . . ."
    "path path path path path";
    row-gap: 0.7rem;
}
.logo-container {
    grid-area: logo;
    width: 150px;
    height: 50px;
}

header {
    .logo-container{
        grid-area: logo;
        width: 150px;
        height: 50px;
    }
    .search-bar-container {
        grid-area: search;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #efefef;
        border-radius: 30px;
        padding-right: 1rem;
         input {
            width: 100%;
            line-height: 2.8rem;
            font-size: 1rem;
            padding-left: 3rem;
            border-radius: 30px;
            border-style: none;
            background-color: transparent;
        }
         img {
            position: absolute;
            width: 15px;
            padding-left: 1rem;
        }
        button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border-style: none;
            background-color: transparent;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .info-container {
        grid-area: info;
        width: fit-content;
        margin-left: 2rem;
        display: flex;
        gap: 1rem;
        div {
            display: flex;
            align-items: flex-end;
        }
    }
    .info-element {
        img {
            width: 20px;
        }
        div {
            font-size: 0.9rem;
            padding-left: 0.6rem;
            p {
                margin: 0;
            }
            a{
                text-decoration: none;
                color: #111;
                font-size: 1rem;
                font-weight: 600;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
    nav {
        grid-area: menu;
        white-space: nowrap;
        button {
            height: 40px;
            width: 40px;
            margin: 0.4rem;
            border-radius: 50%;
            border-style: none;
            background-color: transparent;
            a {
                img {
                    height: 24px;
                    width: 24px;
                }
                &:hover {
                    background-color: #dfdfdf;
                }
            }
        }
        .btn-menu {
            visibility: collapse;
        }
    }
    .product-container {
        grid-area: product;
        a {
            color: #111;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 600;
            margin-right: 2rem;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .path-container {
        grid-area: path;
        hr {
            margin: 0;
            border-top: 0;
            border-color: #dfdfdf;
        }
    }
}
@media (max-width:1200px) {
    
    .product-container {
        display: none;
    }
    header {
        grid-template-areas: 
        "logo search search menu"
        "info info info info"
        "path path path path";
    }
    .btn-menu {
        visibility: visible;
    }
}
@media (max-width:700px) {
    
    header {
        grid-template-areas: 
        "logo menu"
        "search search"
        "info info"
        "path path";
    }
    
}